body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  margin-top: 80px;
}

.tech-slideshow {
  height: 200px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 200px;
  width: 4200px;
  background: url(collage.png);
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 12s linear infinite;
}
.tech-slideshow .mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 15s linear infinite;
}
.tech-slideshow:hover .mover-2 {
  opacity: 1;
}

@keyframes moveSlideshow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

section {
  text-align: center;
}

.background-clip{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.03;
}

@media(min-aspect-ratio:16/9){
  .background-clip{
    width: 100%;
    height: auto;
  }
}

@media(max-aspect-ratio:16/9){
  .background-clip{
    width: auto;
    height: 100%;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  margin-right: 10px;
  font-size: 25px;
}

#category{
  border: 1.5px sloid black;
  font-size: 15px;
}

button {
  padding: 10px 20px;
  margin: 20px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

#jokeContainer {
  margin-top: 20px;
  font-size: 20px;
}

